
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body {
	font-family: 'Indie Flower', cursive;
	background: url(../image/bg.jpg);
}

html {
	position: relative;
	min-height: 100%;
}
	
/* ----- HEADER ----- */
.caption {
	text-align: center;
	font-size: 50px;
	text-transform: uppercase;
	color: #ff6975;
	font-weight: 900;
	text-shadow: 1px 1px 0.1em #000;
}

/* ----- CONTENT ----- */
.game {text-align: center;}

.content {
	width: 100%;
	width: 265px;
	height: 265px;
	background: #ccc;
	padding: 5px;
	margin: 30px auto 20px;
}

.content div {
	width: 60px;
	height: 60px;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	font-size: 20px;
	line-height: 50px;
	text-align: center;
	color: #fff;
	cursor: pointer;
	font-size: 40px;
	line-height: 60px;
}

.content div:nth-child(4n) {margin-right: 0;}

.button {
	background: #ccc;
	border: 1px solid #ccc;
	padding: 10px 20px;
	font-size: 20px;
	text-transform: uppercase;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	-webkit-transition: all .5s ease-out;
	   -moz-transition: all .5s ease-out;
	     -o-transition: all .5s ease-out;
	        transition: all .5s ease-out;
}

.button:hover {background: #a3a3a3;}
.button:focus {outline: none;}

/* ----- FOOTER ----- */
.footer {
	position: absolute;
    bottom: 0;
	width: 100%;
	font-size: 15px;
}
